<html>
<head>
    <title>Code</title>
</head>
<body>
<span id="load_date">2018-11-12 21:19:52</span>
<style> p{ color:green}</style>
<pre id="code_snippet">
                public static void main(String[] args) {
                    SpringApplication.run(CodeSharingPlatform.class, args);
                }</pre>
<style>
    pre{
        border: 5px solid grey;
        background: yellowgreen;
        height: 75px ;
        font-family: sans-serif;
        width: 500px ;
    }
</style>
</body>
</html>